button { 
    margin-left: 34rem;
    border: 2.5px solid blue;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  
    position: relative;
    animation: mymove 7.5s infinite;
  }
  
  button:hover {
    color: red;
    box-shadow: 5px 5px 3px rgb(252, 214, 1);
    border-radius: 15px;
    background: #ff9800;
    border-color: yellow;
    font-weight: bolder;
    text-shadow: black 3px 3px 3px;
    font-size: 26px;
    transform:scale(1.1);
    transition:1.3s;
    animation-play-state: paused;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 550px;}
  }
  body{
      background-color: black;
  }